<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <meta charset="UTF-8"/>
    <title>Player</title>
</head>
<body>
<img th:src="@{/css/images/index.png}" id="nufc" />
    <h1> Player Information</h1>
    <div th:if="${!entries.isEmpty()}">
    <table>
        <tr>
            <th>Player</th><th>Appearances</th><th></th><th></th>
        </tr>
        <tr th:each="entry: ${entries}">
            <td th:text="${entry.user}"></td>
            <td th:text="${entry.comment}"></td>
            <td><a th:href="@{'/delete/' + ${entry.id}}">Delete</a></td>
            <td><a th:href="@{'/update/' + ${entry.id}}">Update</a></td>
        </tr>
    </table>
    </div>

<h2 th:text="${formHeader}"></h2>
<form th:object="${newEntry}" method="post">
    <label>Player: </label><br />
    <input type="text" size="32" th:field="*{user}" />
    <br />
    <br />
    <label>Appearances: </label><br />
    <input type="text" size="32" th:field="*{comment}" />
    <br />
    <br />
    <input type="submit" value="Submit" />
    <p class="warning" th:if="${#fields.hasErrors('user')}">Player cannot be empty.</p>
    <p class="warning" th:if="${#fields.hasErrors('comment')}">Appearances cannot be empty.</p>
    <br />
    <br />
    <input type="reset" value="Reset" />
</form>
<div th:if="${entries.isEmpty()}">
        <p>There is no player information added.</p>
    </div>



</body>
</html>